* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    font-size: 14px;
}

/* White theme */

html {
    --bg: #f5f6f7;
    --color-text: #9c9c9c;
    --banner: #333333;
    --color-shadow: -4px -2px 4px 0px #ffffff,
    4px 2px 6px 0 #dfe4ea;
    --color-inset-shadow: inset -2px -2px 6px rgba(255,255,255,0.8),
                        inset 2px 2px 6px rgba(0 ,0,0,0.1);
}

html[data-theme='dark'] {
    --bg: #121212;
    --color-text: #e2e2e2;
    --banner: #fefefe;
    --color-shadow: -3px -3px 10px rgba(255,255,255,0.05),
    3px 3px 15px rgba(0,0,0,0.5);
    --color-inset-shadow: inset -2px -2px 6px rgba(255,255,255,0.01),
                        inset 2px 2px 6px rgba(0 ,0,0,0.8);
}

body {
    background: var(--bg);
    color: var(--color-text);
    overflow: hidden;
}

a {
    text-decoration: none;
}

.player {
    width: 90vw;
    min-height: 90vh;
    /* max-width: 300px; */
    padding: 3rem 1.25rem;
    margin: 2rem auto;
    background: var(--bg);
    box-shadow: var(--color-shadow);
    border-radius: 15px;
    position: relative;
}

.header {
    height: 8vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    justify-items: center;
}

.header > .button {
    width: 9vw;
    height: 5vh;
    display: grid;
    align-items: center;
    justify-items: center;
    background: var(--bg);
    box-shadow: var(--color-shadow);
    border-radius: 5px;
}

.image {
    display: block;
    width: 35vh;
    height: 35vh;
    /* max-width: 175px;
    max-height: 175px; */
    object-fit: cover;
    margin: 1rem auto;
    border-radius: 50%;
    border: 4px solid #dcdfe2;
    box-shadow: var(--color-shadow);
}

.information {
    margin: 3.5vh 0;
    text-align: center;
}

.information h1 {
    color: var(--black);
    font-weight: 500;
    margin-bottom: 1.5vh;
    font-size: 2.1vh;
}

.information p {
    font-size: 3.15vh;
    color: var(--color-text);
}

.progress {
    padding: 1vh 0;
}

.progress-time {
    padding: 2vh 4vh;
    color: var(--color-text);
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.progress-time > p {
    font-size: 0.95vh;
}

.buttons {
    margin: 4vh 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.button {
    color: var(--color-text);
    border-radius: 50%;
    margin: 0 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--color-shadow);
}

.button-sm {
    width: 6vh;
    height: 6vh;
    /* max-width: 2rem;
    max-height: 2rem; */
    opacity: 0.75;
}

.button-md {
    width: 6.5vh;
    height: 6.5vh;
    /* max-width: 2.5rem;
    max-height: 2.5rem; */
    opacity: 0.85;
}

.button-lg {
    width: 7.25vh;
    height: 7.25vh;
    /* max-width: 3.25rem;
    max-height: 3.25rem; */
}

.bar {
    width: 50%;
    height: 2px;
    margin: auto;
    background: var(--color-text);
    border-radius: 25px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: 1rem;
}

.playpause.active {
    box-shadow: var(--color-inset-shadow);
}

.loop.active,
.shuffle:active,
.prev:active,
.next:active {
    box-shadow: var(--color-inset-shadow);
}

.fa-play {
    display: block;
}

.fa-pause {
    display: none;
}

.playpause.active .fa-play {
    display: none;
}

.playpause.active .fa-pause {
    display: block;
}

.seekslider {
    width: 30vw;
    height: 3px !important;
    -webkit-appearance: none;
    border-radius: 10px;
    background: var(--color-text);
    z-index: 3;
    outline: none;
    position: absolute;
    margin-left: 10vw;
    margin-top: 10px;
}

.seekslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 2vw;
    height: 2vw;
    /* max-width: 10px;
    max-height: 10px; */
    background: var(--color-text);
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    transform: scale(1);
}

.seekslider:active::-webkit-slider-thumb {
    transform: scale(1.2);
}

label {
    cursor: pointer;
}

input[type="checkbox"] {
    -webkit-appearance: none;
}
